dn: uid=atksv,ou=People,{{ldap_root_dn_suffix}}
changetype: add
uid: atksv
cn: atksv
sn: 3
objectClass: top
objectClass: posixAccount
objectClass: inetOrgPerson
loginShell: /bin/bash
homeDirectory: /home/atksv
uidNumber: 10000002
gidNumber: 10000002
userPassword: {SSHA}LQxNMFyltNcMFi1aYqcKasOr1O7n9iO/
mail: atksv@{{ldap_server_domain_name}}
gecos: Admin User
